.flare-calculator {
    background: rgb(253, 222, 214);
    background: linear-gradient(to bottom right, rgb(253, 222, 214), rgb(253, 235, 214));
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    display: inline-block;
    margin: 25px 7px 25px 7px;
    padding: 0px 11px 7px 11px;
    text-align: center;
    width: 240px;
    border: solid rgb(90, 90, 90);
    border-width: thick;
    border-radius: 5px;
}

.flare-calculator > fieldset {
    background: rgb(253, 238, 214);
    text-align: left;
    margin: 5px 0 5px 0;
}

select {
    padding: 1px 0px;
    min-width: 38px;
}