@import '../../../../styles/volucam.css';

.root {
    composes: volucam-fieldset;
}

.label {
    display: inline-block;
    margin-right: 0.5rem;
}

.drive {
    display: inline-block;
    margin-right: 0.7rem;
}