{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "max-len": ["error", 120, 2],
    "no-unused-vars": 0,
    "object-curly-newline": ["error", {
      "ObjectExpression": { "multiline": true, "minProperties": 2 },
      "ObjectPattern": { "multiline": true, "minProperties": 2 },
      "ImportDeclaration": { "multiline": true, "minProperties": 2 },
      "ExportDeclaration": { "multiline": true, "minProperties": 2 }
    }],
    "no-fallthrough": 0,
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }]
  },
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true
  }
}