@import '../../../../styles/victorem-cx.css';

.root {
    composes: victorem-cx-fieldset;
}

@mixin add-left-right;

.right {
    composes: right;
    text-align: right;
}

.display {
    color: black;
	font-size: 1.1rem;
    text-align: center;
    display: inline-block;
    height: 1.2rem;
    margin: 0.3rem 0.2rem;
    max-width: 8rem;
    padding: 0.1rem 0.3rem 0.1rem 0.1rem;
    border: solid $calculator-info;
    border-radius: 0.2rem;
}