
@import '../../../../styles/colors.css';
@import '../../../../styles/container.css';

.root {
    composes: container;
    position: absolute;
    outline: none;
    width: 50rem;
}

.overlay {
    background-color: $modal-overlay;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Title bar */
.title {
    composes: title;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.left-spacer {
    margin-left: 1rem;
    width: 3.2rem;
}

.text {
    padding: 0.5rem 0.1rem 0.1rem 0.1rem;
}

.close-button {
    background: transparent;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    margin-right: 0.5rem;
    border: none;
}

.close-button:hover {
    color: $mini-background;
}