@import '../../../../styles/colors.css';
@import '../../../../styles/buttons.css';
@import '../../../../styles/container.css';

.root {
    composes: container;
    position: absolute;
    outline: none;
    width: 50rem;
    min-height: 30rem;
}

.overlay {
    background-color: $modal-overlay;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Title bar */
.title {
    composes: title;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.left-spacer {
    margin-left: 1rem;
    width: 3.2rem;
}

.text {
    padding: 0.5rem 0.1rem 0.1rem 0.1rem;
}

.close-button {
    background: transparent;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    margin-right: 0.5rem;
    border: none;
}

.close-button:hover {
    color: lightgrey;
}

.close-button:focus {
    outline: none;
}

.custom-button {
    composes: button;
    background: $custom-button;
    font-size: 1.4rem;
    margin: 0rem 0.4rem 2.4rem 0.4rem;
}

.custom-button:hover {
    background: $custom-button-light;
}

.flare-cl-button {
    composes: button;
    background: $flare-cl-button;
    font-size: 1.4rem;
    margin: 0rem 0.4rem 2.4rem 0.4rem;
}

.flare-cl-button:hover {
    background: $flare-cl-button-light;
}

.save-button {
    composes: button;
    background: $save-button;
    font-size: 1.4rem;
    margin: 0rem 0.4rem 2.4rem 0.4rem;
}

.save-button:hover {
    background: $save-button-light;
}