.container {
    background: aliceblue;
    margin: 3.4rem auto;
    padding: 2.6rem;
    width: 70%;
    max-width: 40rem;
    border: solid 0.2rem black;
    border-width: medium;
    border-radius: 0.5rem;
}

.text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
}