@import '../../../../styles/volucam.css';

.root {
    composes: volucam-fieldset;
    margin-bottom: 0.6rem;
}

.center {
    text-align: center;
}

.input {
    composes: volucam-input;
    width: 85%;
}