@import './fonts.css';
@import './colors.css';

.calculator {
    font-family: $arial;
    font-size: 1.1rem;
    font-weight: 300;
    display: inline-block;
    margin: 1rem 0.7rem 1rem 0.7rem;
    padding: 0rem 1.1rem 0.7rem 1.1rem;
    text-align: center;
    width: 24rem;
    border: solid $calculator-border;
    border-width: thick;
    border-radius: 0.5rem;
}

.fieldset {
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.4rem 0.8rem 0.6rem 0.8rem;
    border: 0.2em solid $calculator-fieldset;
    border-radius: 0.2rem;
}

.legend {
    font-family: $roboto;
    font-weight: 500;
    color: white;
	background: $calculator-legend;
    border: 0.1em solid $calculator-legend;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
}

@define-mixin add-left-right $left: 50%, $right: 50% {
    .left {
        width: $left;
        display: inline-block;
    }
    .right {
        width: $right;
        display: inline-block;
    }
}

.select {
    min-width: 3.8rem;
    margin: 0.2rem 1rem 0.2rem 0.2rem;
    padding: 0.1rem 0;
}

.checkbox {
    vertical-align: middle;
    position: relative;
    bottom: 0.1rem;
    margin: 0.2rem;
}

.radio {
    margin: 0.2rem;
}

.text {
    display: inline;
    margin: auto 0.3rem;
}

.label {
    margin: 0.8rem 0.6rem 0.8rem 0;
}

.wxh {
    width: 40%;
	font-size: 1.1rem;
	margin: 0.2rem;
    padding: 0.1rem 0.2rem;
}

.input {
    font-family: $roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-align: center;
    width: 80%;
    height: 2.2rem;
    display: block;
    margin: 0.8rem auto;
    border-width: thick;
    border: solid $calculator-info;
    border-radius: 0.5rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.tooltip {
    background: $tooltip;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    width: 85%;
    margin: 0.3rem auto;
    padding: 0.4rem 0.4rem;
    border: 0.2rem solid $calculator-info;
    border-radius: 0.3rem;
    animation: fadeIn 0.1s ease-in-out;
}

.draggable {
    cursor: move;
}