/* Header */
$header: rgb(36, 41, 46);
$header-button: rgb(36, 41, 46);

/* Container */
$container-background: rgb(236, 236, 236);
$container-title: rgb(36, 41, 46);
$container-border: rgb(36, 41, 46);
$buttons-container-light: rgb(238, 238, 238);
$buttons-container-dark: rgb(230, 230, 230);
$import-button: rgb(134, 134, 134);
$import-button-light: rgb(141, 141, 141);
$export-button: rgb(78, 78, 78);
$export-button-light: rgb(99, 99, 99);
$clear-button: rgb(250, 250, 250);
$clear-button-light: rgb(235, 235, 235);

/* Common button colors */
$button-border: rgb(94, 94, 94);

/* Common calculator colors */
$calculator-title: rgb(77, 60, 60);
$calculator-border: rgb(90, 90, 90);
$calculator-border-light: rgb(80, 80, 80);
$calculator-border-dark: rgb(199, 199, 199);
$calculator-info: rgb(131, 131, 131);

/* Flare CL color scheme */
$flare-cl-background: rgb(253, 222, 214);
$flare-cl-background-light: rgb(253, 235, 214);
$flare-cl-fieldset: rgb(253, 238, 214);
$flare-cl-output: rgb(216, 127, 93);
$flare-cl-button: rgb(216, 127, 93);
$flare-cl-button-light: rgb(237, 151, 118);

/* Flare CX color scheme */
$flare-cx-background: rgb(255, 208, 208);
$flare-cx-background-light: rgb(252, 226, 226);
$flare-cx-fieldset: rgb(254, 238, 238);
$flare-cx-output: rgb(199, 100, 100);
$flare-cx-button: rgb(199, 100, 100);
$flare-cx-button-light: rgb(216, 118, 118);

/* Flare SDI color scheme */
$flare-sdi-background: rgb(255, 229, 229);
$flare-sdi-background-light: rgb(255, 244, 244);
$flare-sdi-fieldset: rgb(255, 247, 247);
$flare-sdi-output: rgb(201, 110, 146);
$flare-sdi-button: rgb(201, 110, 146);
$flare-sdi-button-light: rgb(219, 127, 163);

/* Custom color scheme */
$custom-background: lightgrey;
$custom-background-light: rgb(229, 229, 229);
$custom-fieldset: rgb(239, 239, 239);
$custom-output: slategrey;
$custom-button: slategrey;
$custom-button-light: rgb(126, 143, 160);

/* Mini calculator color scheme */
$mini-background: rgb(253, 222, 214);
$mini-background-dark: rgb(252, 230, 224);
$mini-fieldset: rgb(247, 244, 239);
$mini-output: rgb(221, 148, 148);

/* Victorem CX color scheme */
$victorem-cx-background: rgb(255, 227, 239);
$victorem-cx-background-light: rgb(252, 233, 241);
$victorem-cx-fieldset: rgb(253, 241, 245);
$victorem-cx-output: rgb(187, 94, 177);
$victorem-cx-button: rgb(187, 94, 177);
$victorem-cx-button-light: rgb(204, 114, 180);

/* Victorem SDI color scheme */
$victorem-sdi-background: rgb(252, 227, 255);
$victorem-sdi-background-light: rgb(251, 242, 255);
$victorem-sdi-fieldset: rgb(251, 242, 255);
$victorem-sdi-output: rgb(160, 102, 186);
$victorem-sdi-button: rgb(160, 102, 186);
$victorem-sdi-button-light: rgb(177, 118, 204);

/* DVR color scheme */
$dvr-background: rgb(216, 204, 195);
$dvr-background-light: rgb(247, 240, 234);
$dvr-fieldset: rgb(247, 242, 237);
$dvr-output: rgb(90, 82, 82);
$dvr-button: rgb(90, 82, 82);
$dvr-button-light: rgb(117, 105, 105);

$edit-button: rgb(247, 244, 239);
$delete-button: rgb(221, 148, 148);

/* Modal */
$modal-overlay: rgba(0, 0, 0, 0.35);
$save-button: rgb(124, 221, 153);
$save-button-light: rgb(139, 229, 167);