@import './buttons.css';
@import './colors.css';

.container {
	background-color: $container-background;
	margin: 2rem auto 0rem auto;
	text-align: center;
	min-width: 32rem;
	max-width: 90rem;
	min-height: 50rem;
	border: solid $container-border;
	border-width: medium;
	border-radius: 0.2rem;
}

.title {
	background: $container-title;
	color: white;
	font-size: 1.8rem;
	font-weight: 700;
	padding: 1.2rem;
}

.list {
	margin: 0px;
	padding: 0 1rem;
}