@import './colors.css';
@import './calculator.css';

.dvr-calculator {
    composes: calculator;
    background: $dvr-background;
    background: linear-gradient(to bottom right, $dvr-background, $dvr-background-light);
    width: 38rem;
}

.dvr-fieldset {
    composes: fieldset;
    background: $dvr-fieldset;
    margin: 0rem 0.1rem;
}

.dvr-input {
    composes: input;
    background: $dvr-output;
    width: 60%;
}