@import './colors.css';
@import './calculator.css';

.victorem-cx-calculator {
    composes: calculator;
    background: $victorem-cx-background;
    background: linear-gradient(to bottom right, $victorem-cx-background, $victorem-cx-background-light);
}

.victorem-cx-calculator:hover {
    cursor: move;
}

.victorem-cx-fieldset {
    composes: fieldset;
    background: $victorem-cx-fieldset;
}

.victorem-cx-input {
    composes: input;
    background: $victorem-cx-output;
}