@import './colors.css';
@import './calculator.css';

.victorem-cx-calculator {
    composes: calculator;
    background: $victorem-cx-background;
    background: linear-gradient(to bottom right, $victorem-cx-background, $victorem-cx-background-light);
    width: 38rem;
}

.victorem-cx-fieldset {
    composes: fieldset;
    background: $victorem-cx-fieldset;
    padding: 0.4rem 0.8rem;
}

.victorem-cx-input {
    composes: input;
    background: $victorem-cx-output;
    width: 60%;
}