@import './colors.css';
@import './calculator.css';

.volucam-calculator {
    composes: calculator;
    background: $volucam-background;
    background: linear-gradient(to bottom right, $volucam-background, $volucam-background-light);
}

.volucam-fieldset {
    composes: fieldset;
    background: $volucam-fieldset;
}

.volucam-input {
    composes: input;
    background: $volucam-output;
}

.volucam-input-top {
    composes: input;
    background: $volucam-output;
    width: 85%;
    border-bottom: none;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    margin: 0.2rem auto;
    margin-bottom: 0rem;
}

.volucam-tooltip {
    composes: input;
    background: $volucam-compression;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    width: 85%;
    height: 2.7rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    margin: 0.2rem auto;
    margin-top: 0rem;
    resize: none;
    overflow: hidden;
    animation: fadeIn 0.1s ease-in-out;
}