@import '../../../../styles/victorem-cx.css';

.root {
    composes: victorem-cx-fieldset;
}

.label {
    composes: label;
    display: inline;
}

.select {
    composes: select;
    margin: 0.2rem 0.9rem 0.2rem 0.5rem;
}