@import '../../../../styles/victorem-cx.css';

.root {
    composes: victorem-cx-fieldset;
}

@mixin add-left-right 29%, 71%;

.label {
    composes: label;
    display: inline-block;
    margin-right: 0.2rem;
    margin-bottom: 0.4rem;
}

.italics {
    font-weight: bold;
    font-style: italic;
}

.select {
    composes: select;
    margin-right: 0.6rem;
}