.root {
    background: rgb(224, 224, 224);
    margin: 0px 1px;
    text-align: left;
}

.label {
    display: inline-block;
    margin-right: 5px;
}

.drive, .amount {
    display: inline-block;
    margin-right: 8px;
}

.total-capacity {
    text-align: center;
    font-weight: 700;
    margin-left: 20px;
    width: 20%;
    border: solid rgb(131, 131, 131);
    border-radius: 2px;
}

.select {
    padding: 2px 0px;
}