@import '../../../../styles/dvr.css';

.root {
    composes: dvr-fieldset;
}

.label {
    display: inline-block;
    margin-right: 0.5rem;
}

.raid, .drive, .amount {
    display: inline-block;
    margin-right: 0.7rem;
}