.root {
    background: rgb(253, 238, 214);
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
}

.left {
    width: 22%;
    display: inline-block;
}

.right {
    width: 78%;
    display: inline-block;
}

.label {
    margin: 0.8rem auto;
}

.presets {
    font-size: 1.1rem;
    margin: 0.2rem 0.3rem;
    padding: 0.1rem 0.2rem;
}

.wxh {
    font-size: 1.1rem;
    width: 40%;
    margin: 0.2rem 0.3rem;
    padding: 0.1rem 0.2rem;
}