@import '../../styles/colors.css';
@import '../../styles/container.css';

.root {
	composes: container;
}

.flare-button {
	composes: button;
	background: $flare-button;
}

.flare-button:hover {
	background: $flare-button-light;
}

.victorem-button {
	composes: button;
	background: $victorem-button;
	margin-left: 1rem;
}

.victorem-button:hover {
	background: $victorem-button-light;
}

.import-button {
	composes: button;
	background: $import-button;
}

.import-button:hover {
	background: $import-button-light;
}

.export-button {
	composes: button;
	background: $export-button;
}

.export-button:hover {
	background: $export-button-light;
}