.root {
	background-color: rgb(236, 236, 236);
	margin: 2rem auto 0rem auto;
	text-align: center;
	width: fit-content;
	min-width: 90rem;
	min-height: 50rem;
	max-width: 90rem;
	border: solid rgb(61, 61, 61);
	border-width: medium;
	border-radius: 0.2rem;
}

.title {
	background: rgb(61, 61, 61);
	color: white;
	font-size: 2.2rem;
	font-weight: 700;
	padding: 1.4rem;
}

.buttonsContainer {
    background: repeating-linear-gradient(
        45deg,
        rgb(238, 238, 238),
        rgb(238, 238, 238) 1rem,
        rgb(230, 230, 230) 1rem,
        rgb(230, 230, 230) 2rem
    );
	display: flex;
	justify-content: space-between;
	padding: 2rem 1.6rem;
	border-bottom: solid rgb(61, 61, 61);
	border-width: medium;
}

.left {
	display: inline-block;
	text-align: left;
}

.right {
	display: inline-block;
	text-align: right;
}

.flare-button {
	background: rgb(199, 100, 100);
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 11rem;
	height: 3.4rem;
	display: inline-block;
	margin: 0rem 0.6rem;
	border-width: medium;
	border-radius: 0.3rem;
	border-color: rgb(94, 94, 94);
}

.flare-button:hover {
	background: rgb(216, 118, 118);
}

.victorem-button {
	background: rgb(187, 94, 130);
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 13rem;
	height: 3.4rem;
	display: inline-block;
	margin: 0rem 0.6rem;
	border-width: medium;
	border-radius: 0.3rem;
	border-color: rgb(94, 94, 94);
}

.victorem-button:hover {
	background: rgb(199, 105, 141);
}

.import-button {
	background: rgb(134, 134, 134);
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 11rem;
	height: 3.4rem;
	margin: 0rem 0.6rem;
	border-width: medium;
	border-radius: 0.3rem;
	border-color: rgb(94, 94, 94);
}

.import-button:hover {
	background: rgb(141, 141, 141);
}

.export-button {
	background: rgb(78, 78, 78);
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 11rem;
	height: 3.4rem;
	margin: 0rem 0.6rem;
	border-width: medium;
	border-radius: 0.3rem;
	border-color: rgb(94, 94, 94);
}

.export-button:hover {
	background: rgb(99, 99, 99);
}

.list {
	margin: 0px;
}