@import '../../../../styles/dvr.css';

.root {
    composes: dvr-fieldset;
}

.container {
    text-align: center;
}

.center {
    text-align: center;
}

.display {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0.8rem auto;
    width: 30%;
    border: solid $calculator-info;
    border-radius: 0.2rem;
}