.header {
    background: rgb(66, 66, 66);
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 80rem;
}

.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.text {
    color: white;
    text-decoration: none;
    margin: 1.4rem;
}

.button {
    background: rgb(66, 66, 66);
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2.6rem 1.8rem;
    height: 8rem;
    text-decoration: none;
}

.is-active {
    background: #505050;
    border-top: 0rem;
    border-bottom: 0rem;
    border-left: solid rgb(54, 54, 54) 0.4rem;
    border-right: solid rgb(54, 54, 54) 0.4rem ;
}