@import '../../styles/fonts.css';
@import '../../styles/colors.css';

.header {
    background: $header;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
	min-width: 32rem;
    max-width: 84rem;
}

.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    margin: 1.4rem 1rem 1.2rem 1rem;
}

.logo:active, .logo:focus {
    outline: none;
}

.logo:hover {
    opacity: .9;
}

.button {
    color: white;
    font-family: $segoe;
    font-size: 1.45rem;
    font-weight: 600;
    padding: 2rem 1.2rem;
    height: 4rem;
    opacity: 0.85;
    text-decoration: none;
}

.button:hover {
    opacity: 1;
}

.is-active {
    opacity: 1;
}

.is-active:active, .is-active:focus {
    outline: none;
}