@import '../../../../styles/victorem.css';

.root {
    composes: victorem-fieldset;
}

@mixin add-left-right;

.label {
    font-style: italic;
    margin: 0.8rem 1.5rem;
}

.display {
    text-align: center;
	font-size: 1.1rem;
    font-weight: 700;
    margin: 0.1rem;
    width: 70%;
    border: solid $calculator-info;
    border-radius: 0.2rem;
}