@import '../../../../styles/colors.css';

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.root {
    background: $mini-background;
    background: repeating-linear-gradient(
        45deg,
        $mini-background,
        $mini-background 1rem,
        $mini-background-dark 1rem,
        $mini-background-dark 2rem
    );
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 21%;
    height: 11rem;
    margin: 0.3rem;
    padding: 0;
    border: solid $calculator-border;
    border-width: medium;
    border-radius: 0.5rem;
    opacity: 0.85;
    transition: 0.3s;
}

.root:hover {
    opacity: 1.0;
}

.add-button-container {
    height: 9rem;
    cursor: pointer;
}

.added {
    opacity: 1.0;
}

.added:hover {
    cursor: default;
}

.title {
    background: $calculator-title;
    color: white;
    width: 70%;
    padding: 0.1rem;
    margin: 0rem auto;
    margin-bottom: 0.5rem;
    display: inline-block;
    border: solid $calculator-title;
    border-top-style: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.info {
    background: $mini-fieldset;
    font-family: 'Roboto Thin', sans-serif;
    text-align: center;
    margin: 0.2rem 0.2rem;
    padding: 0.3rem;
    border: solid 0.2rem $calculator-title;
    border-radius: 0.2rem;
}

.data-rate {
    background: $mini-output;
    font-family: 'Roboto Thin', sans-serif;
    text-align: center;
    margin: 0.3rem 0.2rem;
    padding: 0.3rem;
    border: solid 0.3rem $calculator-border-light;
    border-radius: 0.2rem;
}

.add-button {
    background: transparent;
    margin-top: 1.6rem;
    border: none;
    opacity: 0.8;
    transition: 0.3s;
}

.add-button:hover {
    opacity: 1;
    cursor: pointer;
}

.add-button:focus {
    outline: none;
}

.button {
    margin: 2rem 0.2rem;
    padding: 0.3rem 0.4rem;
    border: solid 0.2rem $calculator-border;
    border-radius: 0.3rem;
    opacity: 0.8;
    transition: 0.3s;
}

.edit-button {
    composes: button;
    background: $edit-button;
    animation: fadeIn 0.2s ease-in-out;
}

.edit-button:hover {
    opacity: 1;
    cursor: pointer;
}

.delete-button {
    composes: button;
    background: $delete-button;
    animation: fadeIn 0.2s ease-in-out;
}

.delete-button:hover {
    opacity: 1;
    cursor: pointer;
}