@import '../../../../styles/volucam.css';

.root {
    composes: volucam-fieldset;
}

@mixin add-left-right 45%, 55%;

.label {
    composes: label;
    display: block;
    margin: 0.8rem 0;
}

.select {
    composes: select;
    display: block;
    margin: 0.3rem;
}

.compression-select {
    composes: select;
    display: block;
    margin: 0.3rem;
    background: $volucam-compression;
    font-style: italic;
}