@import '../../styles/colors.css';
@import '../../styles/container.css';

.root {
	composes: container;
}

.add-button {
	composes: button;
	background: $dvr-button;
}

.add-button:hover {
	background: $dvr-button-light;
}

.import-button {
	composes: button;
	background: $import-button;
}

.import-button:hover {
	background: $import-button-light;
}

.export-button {
	composes: button;
	background: $export-button;
}

.export-button:hover {
	background: $export-button-light;
}