.root {
    background: rgb(253, 241, 245);
    text-align: left;
    margin: 5px 0 5px 0;
}

.input {
    background: rgb(187, 94, 130);
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 75%;
    height: 22px;
    display: block;
    margin: 8px auto;
    border-width: thick;
    border: solid rgb(131, 131, 131);
    border-radius: 5px;
}