.root {
    background: rgb(253, 238, 214);
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
}

.left {
    width: 49%;
    display: inline-block;
}

.right {
    width: 51%;
    display: inline-block;
}

.select {
    font-size: 1.1rem;
    padding: 0.1rem 0rem;
    margin: 0.1rem 0rem;
    min-width: 3.8rem;
    display: inline;
}

/* ----- Left side ----- */
.left .labels {
    width: 50%;
    display: inline-block;
}

.left .selects {
    width: 50%;
    display: inline-block;
}

.left .label {
    margin: 0.8rem 0.5rem 0.8rem 0rem;
}

/* ----- Right side ----- */
.right .selects {
    display: inline-block;
}

.right .labels {
    display: inline-block;
}

.right .label {
    margin: 0.8rem 0.4rem 0.8rem 0rem;
    display: inline;
}