.App {
  background-color: rgb(236, 236, 236);
  margin: 30px auto 0 auto;
  padding: 20px 30px 20px 30px;
  text-align: center;
  width: fit-content;
  border: solid rgb(90, 90, 90);
  border-width: medium;
}

.AddFlare {
  background-color: rgb(199, 100, 100);
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 130px;
  height: 28px;
  display: block;
  margin: 0px auto;
  border-width: thick;
  border: solid rgb(131, 131, 131);
  border-radius: 5px;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
