.root {
	background: rgb(77, 60, 60);
	color: white;
	width: 70%;
	padding: 4px;
	margin: 0px auto;
	margin-bottom: 11px;
	display: inline-block;
	border: solid rgb(90, 90, 90);
	border-top-style: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.close-button {
	background: transparent;
	position: absolute;
	float: right;
	padding-left: 20px;
	border: none;
}