@import '../../styles/colors.css';

.root {
	background: $calculator-title;
	color: white;
	width: 70%;
	padding: 0.4rem;
	margin: 0rem auto;
	margin-bottom: 1.1rem;
	display: inline-block;
	border: solid $calculator-border;
	border-top-style: none;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.close-button {
	background: transparent;
	position: absolute;
	float: right;
	padding-left: 2rem;
	border: none;
}