@import '../../../../styles/dvr.css';

.root {
    composes: dvr-fieldset;
    margin-bottom: 0.6rem;
}

.center {
    text-align: center;
}

.display {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0.5rem 0.5rem 0.1rem 0.5rem;
    width: 30%;
    border: solid $calculator-info;
    border-radius: 0.2rem;
}

.input {
    composes: dvr-input;
}