@import '../../../../styles/victorem-cx.css';

.root {
    composes: victorem-cx-fieldset;
}

.label {
    margin: 0.3rem 0.3rem 0.1rem 0.3rem;
}

.message {
    composes: label;
    text-align: center;
    font-style: italic;
    margin: 0.3rem auto;
}

.select {
    composes: select;
    margin-bottom: 0.3rem;
}