@import '../../../../styles/victorem.css';

.root {
    composes: victorem-fieldset;
}

.center {
    width: 80%;
    margin: 0 auto;
}

@mixin add-left-right;

.label {
    display: inline;
    margin: auto 0.3rem;
}