@import '../../../../styles/victorem-cx.css';

.root {
    composes: victorem-cx-fieldset;
}

@mixin add-left-right;

.label {
    margin: 0.3rem 0.3rem 0 0.3rem;
}

.select {
    composes: select;
    margin-bottom: 0.3rem;
}